<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.terrenprogramming.getpid"
        version="0.7.0">

  <name>Get PID</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/getpid.js" target="js/getpid.js"/>

  <js-module src="www/getpid.js" name="getpid">
    <clobbers target="getpid" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Getpid">
        <param name="android-package" value="com.terrenprogramming.plugin.Getpid"/>
      </feature>
    </config-file>

    <source-file src="src/android/Getpid.java" target-dir="src/com/terrenprogramming/plugin/"/>
  </platform>

</plugin>
